:root {
  --primary: rgba(103, 58, 183, 1);
  --primary-dark: rgba(0, 1, 0, );
  --gray-500: rgba(107, 114, 128, 1);
  --gray-100: rgba(243, 244, 246, 1);
  font-size: 16px;
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.article {
  font-family: sans-serif;
  word-break: break-word;
}

.article table {
  font-size: 0.75rem;
  line-height: 1.5;
}

.article table,
.article th,
.article td {
  border: 1px solid var(--gray-500);
}

.article th {
  background-color: var(--gray-500);
  text-transform: capitalize;
}

.article th,
.article td {
  padding: 15px 25px;
  vertical-align: middle;
}

.article strong {
  font-weight: 700;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  color: var(--primary);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.article h1 {
  font-size: 2rem;
}

.article h2 {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.article h3 {
  font-size: 1.25rem;
}

.article h1 strong,
.article h2 strong,
.article h3 strong,
.article h4 strong,
.article h5 strong,
.article h6 strong {
  font-weight: 700;
}

.article li {
  margin-bottom: 0.6rem;
}

.article li:last-child {
  margin-bottom: 0px;
}

.article p,
.article li {
  line-height: 1.6;
}

.article p,
.article ul,
.article ol {
  margin-bottom: 1.5rem;
}

.article p:last-child,
.article ul:last-child,
.article ol:last-child {
  margin-bottom: 0px;
}

.article p {
  font-size: 1rem;
}

.article em {
  font-style: italic;
}

.article a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.1s linear;
}

.article a:hover {
  color: var(--primary-dark);
}

.article img {
  width: 100%;
}

.article ul {
  list-style: disc inside;
}

.article ul p {
  display: inline;
}

.article ol {
  list-style: decimal inside;
}

.article code {
  padding: 0.25rem 0.5rem;
  display: inline-box;
  font-weight: bold;
}

.article pre {
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 6px;
  color: #fff;
  background-color: var(--primary);
  font-size: 1rem;
}

.article pre code {
  padding: 0;
  display: block;
  background: none;
  font-weight: normal;
}

.article code {
  font-family: monospace;
  margin: 0;
  word-break: break-word;
}

.article blockquote {
  padding: 1.25rem;
  background-color: var(--gray-100);
  border: 1px solid var(--primary);
  margin-bottom: 1rem;
  border-radius: 6px;
}

.article blockquote p {
  line-height: 1.7;
  font-size: 0.75rem;
}

.article blockquote p:last-child {
  margin-bottom: 0;
}

.table {
  overflow: auto;
}

.table table td {
  min-width: 60px;
}

.table table td code {
  white-space: nowrap;
}