:root {
  --primary: #333;
  --gray-500: rgba(107, 114, 128, 1);
  --gray-400: rgba(156, 163, 175, 1);
  --gray-100: rgba(243, 244, 246, 1);
  --gap-1: 0.25rem;
  --gap-2: 0.5rem;
  --gap-4: 1rem;
  --gap-6: 1.5rem;
  --gap-8: 2rem;
  --gap-10: 2.5rem;
}

html {
  font-size: 16px;
}

body {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.hidden {
  display: none
}

.spinner {
  margin: 1rem auto;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  animation: pulse 1s linear infinite;
  background-color: var(--primary);
}

@keyframes pulse {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

header {
  padding: var(--gap-2);
  position: absolute;
  top: 0;
  background-color: var(--primary);
  color: white;
  line-height: 1;
  border-radius: 50%;
}

article,
footer {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: var(--gap-8);
}

article {
  padding-top: 0;
}

input,
textarea {
  color: #333;
  border: 1px solid var(--gray-400);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.button {
  padding: var(--gap-2) var(--gap-10);
  border-radius: var(--gap-1);
  color: white;
  background-color: var(--primary);
  border: 0;
}

.text-right {
  text-align: right;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search {
  display: flex;
  align-items: center;
  padding: var(--gap-6);
  background-color: var(--primary);
}

.search input {
  display: block;
  padding: 0 var(--gap-6);
  width: 100%;
  border-radius: var(--gap-2);
  font-weight: bold;
  height: 4rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.search input:focus {
  outline: none
}

.suggestions textarea {
  width: 100%;
  padding: var(--gap-2);
  border-radius: var(--gap-1);
}

.suggestions label {
  display: block;
  margin-bottom: var(--gap-2);
}

.footer-nav {
  display: block;
  color: var(--gray-400);
  text-align: center;
  padding: var(--gap-6);
}

.text-only {
  white-space: pre-wrap;
}

.article table {
  font-size: 0.75rem;
  line-height: 1.5;
}

.article table,
.article th,
.article td {
  border: 1px solid var(--gray-500);
}

.article th {
  background-color: var(--gray-500);
  text-transform: capitalize;
}

.article th,
.article td {
  padding: 15px 25px;
  vertical-align: middle;
}

.article strong {
  font-weight: 700;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  color: var(--primary);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.article h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.article h2 {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.article h3 {
  font-size: 1.25rem;
}

.article h1 strong,
.article h2 strong,
.article h3 strong,
.article h4 strong,
.article h5 strong,
.article h6 strong {
  font-weight: 700;
}

.article li {
  margin-bottom: 0.6rem;
}

.article li p {
  display: inline;
}

.article li:last-child {
  margin-bottom: 0px;
}

.article p,
.article li {
  line-height: 1.6;
}

.article p,
.article ul,
.article ol {
  margin-bottom: 1.5rem;
}

.article p:last-child,
.article ul:last-child,
.article ol:last-child {
  margin-bottom: 0px;
}

.article p {
  font-size: 1rem;
}

.article em {
  font-style: italic;
}

.article a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.1s linear;
}

.article img {
  width: 100%;
}

.article ul {
  list-style: disc inside;
}

.article ul p {
  display: inline;
}

.article ol {
  list-style: decimal inside;
}

.article code {
  padding: 0.25rem 0.5rem;
  margin: 0;
  display: inline-block;
  font-weight: bold;
  font-family: monospace;
  word-break: break-word;
}

.article pre {
  overflow: auto;
  padding: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #e5e7eb;
}

.article pre code {
  padding: 0;
  display: block;
  font-weight: normal;
}

.article blockquote {
  padding: 1.25rem;
  background-color: var(--gray-100);
  border: 1px solid var(--primary);
  margin-bottom: 1rem;
  border-radius: 6px;
}

.article blockquote p {
  line-height: 1.7;
  font-size: 0.75rem;
}

.article blockquote p:last-child {
  margin-bottom: 0;
}

.table {
  overflow: auto;
}

.table table td {
  min-width: 60px;
}

.table table td code {
  white-space: nowrap;
}