:root {
  --primary: rgba(103, 58, 183, 1);
  --primary-dark: rgba(0, 1, 0, );
  --gray-500: rgba(107, 114, 128, 1);
  --gray-100: rgba(243, 244, 246, 1);
  font-size: 16px;
}

.prose {
  font-family: sans-serif;
  word-break: break-word;
  white-space: pre-line;
}

.prose table {
  font-size: 0.75rem;
  line-height: 1.5;
}

.prose table,
.prose th,
.prose td {
  border: 1px solid var(--gray-500);
}

.prose th {
  background-color: var(--gray-500);
  text-transform: capitalize;
}

.prose th,
.prose td {
  padding: 15px 25px;
  vertical-align: middle;
}

.prose strong {
  font-weight: 700;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--primary);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 26px;
}

.prose h1 strong,
.prose h2 strong,
.prose h3 strong,
.prose h4 strong,
.prose h5 strong,
.prose h6 strong {
  font-weight: 700;
}

.prose li {
  margin-bottom: 10px;
}

.prose li:last-child {
  margin-bottom: 0px;
}

.prose p,
.prose li {
  line-height: 1.6;
}

.prose p,
.prose ul,
.prose ol {
  margin-bottom: 25px;
}

.prose p:last-child,
.prose ul:last-child,
.prose ol:last-child {
  margin-bottom: 0px;
}

.prose h1 {
  font-size: 33px;
}

.prose h2 {
  font-size: 21px;
  margin-top: 15px;
}

.prose h3 {
  font-size: 17px;
}

.prose p {
  font-size: 1rem;
}

.prose em {
  font-style: italic;
}

.prose a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.1s linear;
}

.prose a:hover {
  color: var(--primary-dark);
}

.prose img {
  width: 100%;
}

.prose ul {
  list-style: disc inside;
}

.prose ul p {
  display: inline;
}

.prose ol {
  list-style: decimal inside;
}

.prose code,
.prose pre {
  border-radius: 3px;
  color: #fff;
  background-color: var(--primary) !important;
  font-size: 15px !important;
}

.prose code {
  padding: 3px 6px;
}

.prose pre {
  overflow: auto;
  padding: 16px;
  margin: 35px 0;
  box-sizing: border-box;
}

.prose pre code {
  padding: 0;
  background: none;
}

.prose code {
  font-family: monospace;
  margin: 0;
  word-break: break-word;
}

.prose blockquote {
  padding: 20px;
  background-color: var(--gray-100);
  border: 1px solid var(--primary);
  margin-bottom: 35px;
  border-radius: 4px;
}

.prose blockquote p {
  line-height: 1.7;
  font-size: 0.75rem;
}

.prose blockquote p:last-child {
  margin-bottom: 0;
}

.table {
  overflow: auto;
}

.table table td {
  min-width: 60px;
}

.table table td code {
  white-space: nowrap;
}